<nav class="header fluid-container">
    <a href="" class="logo"><img src="../../assets/images/lyndhurst_logo.png" alt=""></a>
    <ul class="nav-links">
        <li routerLink="" class="nav-li">Home</li>
        <li routerLink="/setting" class="nav-li">Setting</li>
        <li routerLink="/facilities" class="nav-li">Facilities</li>
        <li routerLink="/testimonies" class="nav-li">Testimonies</li>
        <li routerLink="/contact" class="nav-li">Contat</li>
        <li class="nav-li">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  More
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" routerLink="/dining">Dining</a></li>
                  <li><a class="dropdown-item" routerLink="/staff">Staff</a></li>
                  <li><a class="dropdown-item" routerLink="/compliment">Complimentary Therapies</a></li>
                  <li><a class="dropdown-item" routerLink="/cqstandards">Care Quality Standards</a></li>                 
                  <li><a class="dropdown-item" routerLink="/fees">Fees</a></li>
                </ul>
              </div>
        </li>    
    </ul>
</nav>