<div class="home fluid-container">
    <!-- <div class="layer">
    </div> -->
    <div class="home-body row">
        <div class="description col-12 row">
            <img src="../../../assets/images/home1.jpg" alt="" class="col-md-6">
            <h4 class="col-md-6">Lyndhurst Park is a multi-award winning small family run nursing home. The seafront promenade is only 100 meters away, with a sleepy park and bowling green being a gentle 2 minutes’ walk. Local shops, post office, doctor’s surgery & churches are all within a few minutes stroll.</h4>
        </div>      
    </div>

<section class="row">
            <img src="../../../assets/images/award1.png" alt="" class="col-4" style="width: 145px;height: 115px;">
            <img src="../../../assets/images/award2.png" alt="" class="col-4" style="width: 145px;height: 115px;">
            <img src="../../../assets/images/award3.png" alt="" class="col-4" style="width: 145px;height: 115px;">
    <div class="award-container2 col-12">
        <img src="../../../assets/images/award4.png" alt="" class="w-50">
    </div>
    <div class="comments col-12">
        <p>“Most Attentive Nursing Home 2019”
            - South West England</p>

    </div>
</section>
</div>
<app-footer></app-footer>

