<div class="fluid-container">
    <div class="row">
        <div class="col-12">
            <h3>Contact Us</h3>
            <p>For further information, brochure or to arrange an infomal visit please do not hesitate to contact us using the details below and a member of our team will get back to you.</p>           
        </div>
        <div class="col-12 row">
            <div class="col-4">
                <h3>Address</h3>
                <p>Lyndhurst Park Nursing Home
                    Severn Road
                    Weston Super Mare
                    North Somerset
                    BS23 1DW</p>
            </div>
            <div class="col-4">
                <h3>Tel</h3>
                <p>Nursing Office: 01934 627471

                    Admin Office: 01934 627518
                    
                    Fax: 01934 627518</p>
            </div>
            <div class="col-4">
                <h3>Email</h3>
                <p>info@lyndhurstpark.co.uk</p>
            </div>
            <div class="col-12">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Name</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Subject</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Details</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>  
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
            <div class="col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9969.46555264721!2d-2.980991!3d51.341173!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4871ff32ccfb60cb%3A0x6e273ca8eb40f771!2sLyndhurst%20Park!5e0!3m2!1sen!2sus!4v1695904362609!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

        </div>
    </div>
</div>