<div class="setting-ontainer">
    <p>On entering into Lyndhurst Park, the atmosphere is immediately one of warmth and homeliness. Every effort has been made to create an ambiance of friendship and care that allows the residents the security and comfort that we all seek.  Lyndhurst Park’s location and hospitable atmosphere lends itself to clients wishing respite or advanced and end of life care.</p>
    <br>
    <br>
    <br>
    <br>
    <p>If you are wanting a large hotel-style nursing home with the hustle and bustle,then Lyndhurst may not be the place for you. We aim at Lyndhurst to have an air of serenity, with an ethos of informality between staff, clients and their families. Because it is one of the smallest nursing homes in the county every bedroom is not far from a member of staff, which is essential when the client requires that additional attentive care and nurse monitoring. Staffing ratios are kept high and this reflects again the care many of our clients require.</p>
</div>
<app-footer></app-footer>