<div class="fluid-container">
    <div class="row me-0">
        <div class="col-12">
            <p>All of our bedrooms, most with en-suite facilities, are tastefully furnished with matching accessories and individual decor. Every room has a provision for your own television.  A nurse-call system is fitted in all bedrooms and en-suite bathrooms.  Residents are invited to bring their favorite ornaments, pictures, plants etc, to enhance the personalized ‘my home’ atmosphere.</p>
        </div>
        <div class="col-12">
            <img src="../../../assets/images/facilities1.jpg" alt="">
        </div>
        <div class="col-12">
            <p>The home is provided with two passenger lifts, full central heating, fire detection system, free personal laundry service & mobile pay - phone facilities.  Lyndhurst Park has two lounges offering different ambience's.  Our garden lounge has patio doors leading to a therapeutic garden with its own wooden decking overlooking the waterfall and pond.</p>
        </div>

    </div>

</div>