<div class="fluid-container">
    <div class="row me-0">
        <div class="col-12">
            <p class="content">Professional, Friendly, Caring, Clean, Understanding

                …“My mother has been a resident for the past ten years, she settled fairly quickly due to the staff realizing her needs and worries. The home is well run, clean and well maintained and the staff are excellent, they are all long term staff,friendly and caring towards her”...</p>
            <p class="writer">Mr MT, Weston-super-Mare</p>
        </div>
        <div class="col-12">
            <p class="content">Friendly, Efficient, Approachable, Immaculately Clean

…“The care and understanding offered by the owners and all members of staff has been exemplary. The building is exceptionally well maintained and always very clean and the decor and equipment is modern and pleasing for both residents and their guests. Also there are none of the unpleasant smells often associated with care homes. We have been extremely satisfied with all aspects of her care”…</p>
            <p class="writer">Mr AB, Weston-super-Mare</p>
        </div>
        <div class="col-12">
            <p class="content">Professional, Caring, Clean, Approachable

…“My mother has been living at Lyndhurst Park for over 2 years now, she has Alzheimer's, she forgets to eat and drink, she does not walk any more but she is looked after by the staff at Lyndhurst with extreme care, professional under her needs and loving humanity. When my father became ill last year, all the staff looked after Dad in his final days with loving care and took care of us, his daughter and son too. Lyndhurst is a well run, clean and welcoming home for my smiley Mum”…</p>
            <p class="writer">Mr JH, Bristol</p>
        </div>
        <div class="col-12">
            <p class="content">Conscientious, Caring, Wonderful

…“Thank you for your conscientious care, you were all wonderful, brilliant & caring towards my Nan and ourselves”…</p>
            <p class="writer">Mr MT, Weston-super-Mare</p>
        </div>
        <div class="col-12">
            <p class="content">Professional, Friendly, Caring, Clean, Understanding

                …“My mother has been a resident for the past ten years, she settled fairly quickly due to the staff realizing her needs and worries. The home is well run, clean and well maintained and the staff are excellent, they are all long term staff,friendly and caring towards her”...</p>
            <p class="writer">Mr JB, Weston-super-Mare</p>
        </div>
        <div class="col-12">
            <p class="content">High Level of Care, Wonderful

…“I would just like to say a huge thank you for the obvious high level of care that dad received from you.  My sister mentioned many times to me what wonderful caring staff were looking after our father”…</p>
            <p class="writer">Mrs SL, London</p>
        </div>
        <div class="col-12">
            <p class="content">Nothing is too much trouble

…“We are over the moon to how much you care you are giving to dad.  Nothing is ever too much trouble and we all know he is very happy at Lyndhurst”…</p>
            <p class="writer">Mrs H, Worle</p>
        </div>
        <div class="col-12">
            <p class="content">Professional, Kind

…“I would like to thank you all for the professional care and support gave to my mum and family.  Your kindness gave us peace of mind knowing that she was being looked after and cared for to a very high standard"…</p>
            <p class="writer">Mrs EH, Bristol</p>
        </div>
        <div class="col-12">
            <p class="content">Kind, Considerate, Professional

…“Throughout my mothers’ stay at Lyndhurst you and your staff showed nothing but kindness and consideration as well as a high level of professionalism”…</p>
            <p class="writer">Mr BT, Weston-super-Mare</p>
        </div>
        <div class="col-12">
            <p class="content">Exceptional

…“All the staff without exception always gave dad the highest level of care and always showed regard to his dignity.  It helped the family greatly during a most difficult time to know that he was being well cared for”…</p>
            <p class="writer">Mrs BL, Weston-super-Mare</p>
        </div>
        <div class="col-12">
            <p class="content">Professional, Caring

…“I am writing on behalf of Dad and all the family regarding the care that you all gave mum during her all too short stay with you.  It was our hope that she would spend longer with you to enjoy the special care that you so obviously give to all your residents, but it was not to be.  We all noticed that Mum became more at peace when she came to you, and that in itself helped us to cope through a very distressing time”…</p>
            <p class="writer">Mr DR, Bleadon</p>
        </div>
        <div class="col-12">
            <p class="content">Wonderful Care, Understanding

…“We would like to thank you all for the wonderful care and understanding Dad received which we feel was of the highest standard and we could not have asked for more.  All of your staff from trained nurses to the tea ladies are a credit to the home”…</p>
            <p class="writer">Mrs SH, Nailsea</p>
        </div>
        <div class="col-12">
            <p class="content">Kind, Respectful

...We are so glad Mum came to stay at Lyndhurst Park.  You treated her and our family with such kindness and respect during her last few days”…</p>
            <p class="writer">Mrs GL, Weston-super-Mare</p>
        </div>

    </div>

</div>