<div class="fluid-container">
    <div class="row">
        <div class="col-12">
            <p>Lyndhurst Park prides itself on its cooking. We only use the best produce with all of our meats and vegetables delivered fresh twice weekly from local suppliers.  Our Cakes and pastries are baked daily on the premises and we often make our own jams as part of the home’s activity therapy programme</p>
        </div>
        <div class="col-12">
            <img src="../../../assets/images/dining1.jpg" alt="">
        </div>
        <div class="col-12">
            <p>All dietary needs and preferences are catered for and if your liking is for a pre-lunch sherry or beer, that’s also on offer (medicine regime permitted). As our meals are cooked fresh daily in our own kitchen should at the last minute you prefer a simple omelette's or salad, our cooks are always happy to accommodate. For those who have a healthy appetite, our meals are never portioned.</p>
            <p>The pride we take in our kitchen is reflected by the 5 stars awarded by North Somerset Council.</p>
            <img src="../../../assets/images/dining4.jpg" alt="">
        </div>
    </div>
</div>